<% if current_user %>
  <div class="jumbotron">
    <h3 class="welcome">Welcome, <%= current_user.email %>!</h3>
  </div>
<% else %>
  <div class="jumbotron">
    <h2>Welcome to the Photo Management App!</h2>
    <p class="lead">
      You'll love managing your Photos with our application. Sign up!
    </p>
  </div>
  
  <div class="container row mt-4">
    <div class="col-1"></div>
    <div class="col-4">
        <h2>Premium Plan</h2>
        <div class="price pull-right">
          Price: $10
        </div>
        <div class="features">
          <ul>
            <li>Unlimited Image Uploads</li>
            <li>Responsive design</li>
            <li>Access anywhere</li>
          </ul>
        </div>
        <p>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-outline-pink sign-up' %>
        </p>
    </div>
    
    <div class="col-2"></div>
    <div class="col-4">
      <h2>Amaze Plan</h2>
        <div class="price pull-right">
          Price: $20
        </div>
        <div class="features">
          <ul>
            <li>Unlimited Image Uploads</li>
            <li>Responsive design</li>
            <li>Access anywhere</li>
            <li class='extra'>Unlimited projects</li>
          </ul>
        </div>
        <p>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-outline-pink sign-up' %>
        </p>
    </div>
    <div class="col-1"></div>
  </div>

<% end %>