@import 'bootstrap/dist/css/bootstrap';

$pink: #d63384;

.bg-pink,
.btn-outline-pink,
.nav-link {
    background-color: $pink;
    color: white;
}


.nav-link:hover {
    background-color: white;
    color: $pink;
}

.welcome {
    background-color: rgba(211, 159, 200, .3);
    padding: 10px;
}

.jumbotron {
    text-align: center;
    background-image: asset-url('bg.jpg');
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 15px;
    margin-right: 15px;
}


.bg-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}


.navbar {
    padding: 0;
}

.nav-link {
    padding: 1rem;
}

.footer {
    background-color: #B3B6B7;
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}

.text-pink {
    color: $pink;
}
