<%= form_with(model: image, :html => {multipart: true, :class => "form-horizontal image"}) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="card">
    <div class="card-body">
      <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
    
      <div class="mb-3">
        <%= form.label :picture, class: "form-label" %>
        <%= form.file_field :picture, accept: 'image/jpeg,image/png,image/gif', class: "form-control" %>
      </div>
    
      <div class="actions">
        <%= form.submit class: "btn btn-outline-pink" %>
      </div>
    </div>
  </div>

  
<% end %>

<script type="text/javascript">
  $('#image_picture').bind('change', function(){
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB')
    }
  })
</script>
