<h2>
    Editing Image
    <div class="btn-group pull-right" role="group" aria-label="Basic example">
        <%= link_to 'Show', @image, class: "btn btn-info" %>
        <%= link_to 'Back', images_path, class: "btn btn-secondary" %>
    </div>
</h2>

<%= render 'form', image: @image %>


