<p id="notice"><%= notice %></p>


<div class="card">
  <div class="card-header">
    <h2>
      Images
      <%= link_to 'New Image', new_image_path, class: "btn btn-outline-pink pull-right" %>
    </h2> 
  </div>
  <div class="card-body">
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Picture</th>
          <th></th>
        </tr>
      </thead>
    
      <tbody>
        <% @images.each do |image| %>
          <tr>
            <td><%= link_to image.name, image_path(image) %></td>
            <td><%= image_tag image.picture.url, size: "100x100" %></td>
            <td>
              <div class="btn-group pull-right" role="group" aria-label="Basic example">
                <%= link_to 'Show', image, class: "btn btn-outline-info" %>
                <%= link_to 'Edit', edit_image_path(image), class: "btn btn-outline-warning" %>
                <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


