<p id="notice"><%= notice %></p>

<div class="d-flex justify-content-center text-center">
<div class="card position-absolute" style="width: 50rem;">
  <%= image_tag(@image.picture.url, class: "card-img-top") if @image.picture? %>
  <div class="card-body">
    <h5 class="card-title"><%= @image.name %></h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <%= link_to 'Edit', edit_image_path(@image), class: "btn btn-outline-pink" %> |
    <%= link_to 'Back', images_path, class: "btn btn-secondary" %>
  </div>
</div>
</div>