<footer class="fixed-bottom py-4 footer">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Deen", "https://www.linkedin.com/in/dina-fajardo/", class: "text-pink" %></small>
    </div>
</footer>