 <nav class="navbar navbar-expand-lg navbar-light bg-pink">
  <div class="container-fluid">
    <%= link_to "PhotoApp", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Images", images_path, class: "nav-link" %>
        </li>
      </ul>
      
      
      <% if current_user %>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <%= link_to current_user.email, edit_user_registration_path, class: "nav-link" %> 
          </li>
        </ul>
        <%= link_to "Sign Out", destroy_user_session_path, class: "nav-link" %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
      <% end %>
      
    </div>
  </div>
</nav>